html {
  background-color: #ffdf44;
}

p {
  font-family: Cormorant, serif;
  color: #ff4b4a;
}

h1, .rise {
  font-family: Rubik, sans-serif;
  color: #fff;
}

.poem {
  text-align: left;
  max-width: 50%;
}

.absolute {
  left: 0;
  top: 0;
}

.rise {
  display: none;
}

.author {
  display: none;
}

@media only screen and (min-width: 60em) {

  .rise {
    display: inline-block;
  }

  .person {
    display: none;
  }

  .author {
    display: block;
  }

  .poem {
    max-width: 45%;
  }

}
